* {
    box-sizing: border-box;
}

:root {
    --color1: #D89584;
    --color2: #F4F4F4;
    --color3: #34bcd4;
}

body {
    background-color: white;
    font-family: Arial;
    margin-bottom: 0px;    
}

/* contact */   


iframe {
    width: 100%;
    border: none;
    height: 350px;
    background-color: grey;
}
div.frame {
    margin: 30px 50px;
    border: 2px solid var(--color3);
    box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.1);
    padding: 20px 30px;
    background-color: white;
}
div.frame img{
    width: 130px;
}

/* sommaire */  

.header {
    display: flex; /* Affiche les éléments en ligne par défaut */
    padding: 20px; /* Un peu de padding autour */
    justify-content: center; /* Aligner les éléments à gauche */
    align-items: center; /* Aligner les éléments au début de l'axe vertical */
    position: relative; /* Nécessaire pour permettre à l'élément .carre de se positionner absolument */
}


/* Conteneur du texte pour empiler les phrases verticalement */
.text-container {
    display: flex; /* Active Flexbox */
    flex-direction: column; /* Empiler les éléments verticalement */
    justify-content: center; /* Aligner les éléments au centre sur l'axe vertical */
    
}

/* Style du carré en haut à gauche */
.carre {
    position: absolute;
    top: 0;
    left: 5px;
    margin-left: 5px;
    margin-top: 5px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    flex-direction: column;
    display: flex;
    justify-content: space-around; /* Espace entre les bandes */
    padding: 5px; /* Espace intérieur pour les bandes */
    background-color:rgb(8, 0, 0);
    transition: background-color 0.3s ease, transform 0.3s ease;
}
/* Style des bandes blanches */
.carre .ligne {
    width: 100%; /* Prend toute la largeur du carré */
    height: 3px; /* Hauteur de chaque bande */
    background-color: white; /* Fond blanc */
    transition: transform 0.3s ease; /* Transition pour l'animation */
}

.phrase-container2 {
    
    display: flex;
    flex-direction: column;
    width: 120px;

    visibility: hidden; /* Caché par défaut, ne prend pas de place dans le flux de la mise en page */
    position: absolute; /* Gardé en position absolue pour éviter de modifier la mise en page */
    top: 45px; /* Positionné juste en dessous du carré */
    left: 5px; /* Aligner à gauche sous le carré */
    background-color: rgb(218, 223, 221);
    box-sizing: border-box; /* Inclure le padding dans la largeur et hauteur */
    opacity: 0; /* Transparence au départ */
    transition: opacity 0.3s ease, visibility 0s linear 0.3s; /* Transition douce pour la visibilité et l'opacité */
}

/* Lorsque la phrase devient visible */
.phrase-container2.visible {
    visibility: visible; /* Le rendre visible */
    opacity: 1; /* Rendre visible avec une opacité de 1 */    
}

/* Style pour le titre dans l'encadré noir */
.titre {
    text-align: left;
    color: aliceblue;
    background-color: rgb(1, 10, 17);
    padding: 10px;
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
}




/* Style de la phrase */
.phrase {
    font-size: 13px; /* Taille de la phrase */
    color: rgb(5, 0, 0);
    text-decoration: none; /* Enlève le soulignement par défaut des liens */
    text-align: left;
}
.phrase:hover {
    color: rgb(30, 206, 106); /* Change la couleur en rouge lorsqu'on survole le lien */
}


/* fin sommaire */  






div.titre { 
    text-align: center;
    color: aliceblue;
    background-color: rgb(1, 10, 17);
    background-position: center;
    padding: 0px 0px;
    height: 200px;

}

img.info {
    display: block;
    height: auto;
    margin: auto;
    margin-top: 30px;
    width: 90%;
}

div.info {
    text-align: center;
    margin-block-end: 20px;
}

h1 {
    margin-top: 30px;
    color: white; /* Texte blanc pour être lisible sur fond noir */
}
h2  {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
    font-size: 30px;

}

.sous_titre {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 20px;
    margin-left: 50px;
    text-align: center;
}

.retour{
    display: inline-block; /* Permet au padding et au border-radius de bien s'appliquer */
    background-color: black; /* Couleur bleue pour le bouton */ 
    color: white;
    text-decoration: none;
    transition: background-color 3s;
    padding: 20px 50px;
    border-radius: 10px;
}

.retour-container{
    justify-content: center;      /* Centre le texte à l'intérieur */   
    position: relative; /* Permet de positionner le tooltip par rapport au bouton */
    display: inline-block;
}



.retour:hover {
    background-color: #aeaba5; /* Changement de couleur au survol */
    
}


.button-container{
    display: flex;         /* Ajuste la largeur du bouton au contenu */
    justify-content: center;      /* Centre le texte à l'intérieur */   
    margin-top: 0px;
    margin-bottom: 10px;
}

.button {
    display: inline-flex;
    justify-content: center; 
    align-items: center;   
    padding: 10px 10px;
    background-color: black; /* Couleur bleue pour le bouton */ 
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    transition: background-color 0.3s;

}
.button:hover {
    background-color: #0056b3; /* Changement de couleur au survol */
    
}

div.photos {
    display: flex;
    align-items: center;
    justify-content: center;

}

.image-container {
    max-width: 100%; /* Occupe 100% de la largeur disponible */
    text-align: center; /* Centre les images à l'intérieur du conteneur */
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.image-container img {
    
    height: auto; /* La hauteur s'ajuste automatiquement pour conserver les proportions originales de l'image */
    margin: 10px; /* Marge entre les images */
    box-sizing: border-box; /* Inclure les marges dans la largeur totale de l'image */
    }




p {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: lightgrey;
    padding: 30px 30px 30px 30px;
}

div.separateur {
    background-color: red ;
    height: 3px;
    width: 300px;
    left: 50%;
    position: relative;
    margin-left: -150px;
    margin-top: 50px;
}

.contact:hover{
    color: white;
}

* {
    overflow: auto;
}



@media only screen and (max-width: 767px) {

.image-responsive {
    max-width: 100%;
    height: auto;
}
p {
    margin-left: auto;
    margin-right: auto;
}
iframe {
    border: none;
    height: 250px;
    
}
div.frame {
    margin: 20px 0px;
    box-shadow: none;
    border: none;
    
}
div.frame img{
    width: 70px;
}
}
